<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
    <body> 
        <table> 
            <tr> 
                <td colspan="2" style="text-align: center;">
                    <h1>Đổi mật khẩu</h1>
                </td> 
            </tr> 
            <tr>
                 <td><span>Tên tài khoản:</span></td>
                 <td><input type="text"></td> 
            </tr> 
            <tr> 
                <td><span>Mật khẩu cũ:</span></td>
                 <td><input type="password"></td> </tr> 
            <tr> 
                <td><span>Mật khẩu mới:</span></td> 
                 <td><input type="password"></td> 
            </tr> 
            <tr> 
                <td><span>Nhập lại mật khẩu:</span></td>
                 <td><input type="password"></td> 
            </tr> 
            <tr style="margin-top: 10px;"> 
                <td colspan="2" style="text-align: center; margin-top: 10px; width: 40px;"><input type="button" value="Gửi" style="width: 40px; height: 20px;"></td> 
            </tr> 
        </table> </body> </html>