<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link href="/css/tailwind.css" rel="stylesheet" type="text/css">
   	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
	<div style="height: 100vh;" class="h-full w-full flex items-center justify-center ">
		<div class="m-auto w-4/12 border">
			<table>
				<h1 style="text-align: center;">Đăng ký</h1>
				<form action="">
					<input class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" /" type="text" placeholder="Họ và tên" style="width: 150px; height: 20px; margin-right: 21px;"> 
					<input class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" /" type="date" placeholder="Ngày sinh" style="width: 120px;height: 20px; margin-top: 10px;"> <br>
					<input class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" /" type="text" placeholder="Địa chỉ" style="width: 300px;height: 20px; margin-top: 10px;"> <br>
					<input class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" /" type="text" placeholder="Tài khoản" style="width: 300px;height: 20px; margin-top: 10px;"> <br>
					<input class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" /" type="text" placeholder="Email" style="width: 174px;height: 20px; margin-top: 10px; margin-right: 20px;"> 
					<select name="" id="" style="height: 26px; font-size: 15px;direction: rtl; padding-left: 0px; color: #757373;">
						<option value="" style="direction: ltr;">@gmail.com</option>
					</select>
					<input class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" /" type="password" placeholder="Mật khẩu" style="width: 300px;height: 20px; margin-top: 10px;"> <br>
					<input class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" /" type="password" placeholder="Nhập lại mật khẩu" style="width: 300px;height: 20px; margin-top: 10px;"> <br>
					
					<input class="hover:shadow-form w-full rounded-md bg-blue-600 py-3 px-8 text-center text-base font-semibold text-white outline-none" type="button" value="Đăng ký" placeholder="Login" style="width: 85px; height: 30px ;margin-top: 12px;margin-bottom: 12px; text-align: center;margin-left: 107px;font-size: 15px;"> <br>
					<span style="margin-left: 50px;">Bạn đã có tài khoản? <a href="" style="margin-bottom: 10px;">Đăng nhập</a> </span> <br>
				</form>
			</table>
		</div>
	</div>
</body>
</html>